

<!DOCTYPE html>
<html>
   <style>
      /* CSS for the navigation bar */
      ul.navbar {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #f2f2f2;
      }
  
      ul.navbar li {
        float: left;
      }
  
      ul.navbar li a {
        display: block;
        padding: 8px 16px;
        text-decoration: none;
        color: #333;
      }
  
      ul.navbar li a:hover {
        background-color: #ddd;
      }
    </style>

<head>
	<title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
	<h1></h1>

   <!--<center><h3>Generate Syntax</h3></center>-->
   <div class="trans-box-body-dashboard ">
   <div class="card" style="left:30%;">
    <center><h2>Admin Login</h2></center>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
            {% for category, message in messages %}
                {% if category == 'error' %}
                    <div style="padding:10px; margin-bottom:10px; border-radius:5px; border: solid white 1px; color:white; background-color: red;">{{ message }}</div>
                {% elif category == 'success' %}
                    <div style="padding:10px; margin-bottom:10px; border-radius:5px; border: solid white 1px; color:white; background-color: green;">{{ message }}</div>
                {% else %}
                    <div>{{ message }}</div>
                {% endif %}
            {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="card-inline">
		<form action="/login" method="POST">
         <div style="padding-top:20px";>
         <label for="username">Admin Username </label>
         <input type="text" name="username" id="username" placeholder="Enter Username">
         <label for="password">Admin Password </label>
        <input type="password" name="password" id="password" placeholder="Enter Password">
        <input type="submit" value="Login">
         </div>
		</form>
		
        <p><a href="/change_password"><input type="submit" value="Goto Change Password"></p>
		<!--<div class="card">
			<div class="card-body">
            {{ syntax | safe }}
			</div>
		  </div>-->
		  

	</div></div></div>
</body>
</html>
